.footer {
  overflow: hidden;
  position: relative;
  z-index: 5;

  &::before{
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-top: solid 1px var(--br-b);
    z-index: 2;
  }

  @include for-mobile{
    padding: clamp(20px, 56px, 56px) 0 clamp(27px, 6.1591vw, 72px);
  }

  @include mobile{
    padding: 20px 0 27px;
  }

  &.mode{
    padding-bottom: clamp(28px, 2.5663vw, 30px);
  }

  &-logo{
    @include for-mobile{
      position: relative;
      top: -27px;
    }
  }

  &__box{
    display: flex;
    flex-direction: column;

    @include for-mobile{
      grid-gap: clamp(38px, 5.988vw, 70px);
    }

    @include mobile{
      grid-gap: 33px;
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 55px 20px;

    @include mobile{
      flex-direction: column;
    }
  }

  &__social{
    display: flex;
    align-items: center;
    grid-gap: 23px;

    @include mobile{
      width: 100%;

      @include for-ios{
        justify-content: space-around;
      }
    }

    @include ios{
      justify-content: space-between;
    }


    li a{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: rgba(var(--cl-e),1.0);
      transition: all .4s;

      &:hover{
        color: rgba(var(--cl-c),1.0);
      }

      &:disabled{
        opacity: .4;
      }
    }
  }

  &__copyright{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(var(--cl-e),1.0);
    text-align: right;
  }

  &__top{
    display: flex;
    grid-gap: 35px 52px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;

    @include mobile{
      flex-direction: column;
      align-items: center;
    }
  }

  .title{
    display: inline-flex;
    grid-gap: 5px;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      height: clamp(2px, 0.293vw, 3px);
      background-color: rgba(var(--bg-a),1.0);
      width: 0;
      pointer-events: none;
      transition: all .8s;

      @include for-tablet{
       opacity: 0;
       visibility: hidden;
      }
    }

    &.animate{
      &::after{
        width: 100%;
      }
    }

    @include for-tablet{
      transform: translate(-60%, -18%);
    }

    @include tablet{
      @include for-mobile{
        transform: translate(-50%, -10%);
      }
    }

    @include for-mobile{
      top: 50%;
      left: 50%;
      font-size: clamp(26px, 4.7049vw, 55px);
      line-height: 115%;
      position: absolute;
    }

    @include mobile{
      margin: 33px 0 32px;
      order: 3;
      font-size: 32px;
    }
  }

  .main-nav{
    overflow: hidden;
    padding-bottom: 2px;
    @include mobile{
      width: 100%;
      @include for-ios{
        justify-content: space-around;
      }
    }

    @include ios{
      justify-content: space-between;
    }
  }
}


