.footer {
  padding: clamp(20px, 56px, 56px) 0 clamp(20px, 10.2652vw, 120px);
  overflow: hidden;
  position: relative;
  z-index: 5;

  &::before{
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-top: solid 1px var(--br-b);
    z-index: 2;
  }


  &__box{
    display: flex;
    grid-gap: 52px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .title{
    font-size: clamp(32px, 4.7049vw, 55px);
    line-height: 182%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -20%);
  }
 

  .main-nav__link{
    &.active{
      color: rgba(var(--cl-a),1.0);
    }
  }
}


