.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90;
  padding: clamp(60px, 8.2121vw, 96px) 0 96px;

  @include tablet{
    padding: 20px 0 98px;
  }

  // &.sticky {
  //   @include for-tablet{
  //   .main-nav {
  //     backdrop-filter: initial;
  //     background-color: transparent;
  //     &::after {
  //       opacity: 1;
  //     }
  //   }
  //   .logo {
  //     transform: translateX(-12px);
  //     opacity: 0;
  //     visibility: hidden;
  //   }

  //   .header__btns{
  //     transform: translateX(12px);
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  // }

  // @include tablet{
  //   box-shadow: 0 10px 20px 0 #0b0a17;
  // }
  // }

  &__inner {
    display: grid;
    align-items: center;
    position: relative;

      @include for-tablet {
        grid-gap: 20px;
        grid-template-columns: auto 1fr;
      
        .logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    
    @include tablet {
      grid-template-columns: 1fr auto;
      grid-gap: clamp(15px, 1.953vw, 20px);
      .main-nav {
        display: none;
      }
    }
  }

  &__btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: clamp(20px, 2.3097vw, 27px);

      .transparent-btn{
        margin-right: clamp(27px, 4.0205vw, 47px);
      }

      @include tablet{
        display: none;
      }
  }

  &__btn{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      transition: all .4s;
    }

    &:hover{
      color: rgba(var(--cl-c),1.0);
    }

    &:disabled{
      opacity: .4;
    }
  }
}

.burger {
  display: none;

  @include tablet {
    display: flex;
    justify-self: end;
    @include burger;
  }
}
