.team-card{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @include mobile{
        max-width: 278px;
        width: 100%;
    }

    &__image{
        margin-bottom: 5px;
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        overflow: hidden;
        filter: grayscale(100%);

        img,picture{
            width: 100%;
            aspect-ratio: 1;
        }
    }

    .subtitle{
        font-family: var(--second-family);
        letter-spacing: -0.01em;
    }

    &__info{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(var(--cl-c),1.0);
    }
}