<footer class="footer mode">
  <div class="container">
    <div class="footer__box">
      <div class="footer__top">
        <a href="/" class="footer-logo logo">
          <img width="109" height="89" src="img/logo.svg" alt="logo">
        </a>
  
        <span class="footer__title title">welux <b>developer</b></span>

        <ul class="main-nav">
          <li class="main-nav__item"><a href="index.html" class="main-nav__link">Home page</a></li>
          <li class="main-nav__item"><a href="about.html" class="main-nav__link">about us</a></li>
          <li class="main-nav__item"><a href="contacts.html" class="main-nav__link">Contacts</a></li>
        </ul>
      </div>
      <div class="footer__bottom">
        <ul class="footer__social">
          <li><a href="#">Twitter/</a></li>
          <li><a href="#">Facebook/</a></li>
          <li><a href="#">Instagram/</a></li>
          <li><a href="#">Linkedin/</a></li>
        </ul>
        <span class="footer__copyright">(c) All right reserved, 2024</span>
      </div>
    </div>
  </div>
</footer>
