<header class="header fixed-block">
  <div class="container">
      <div class="header__inner">
        <ul class="main-nav">
          <li class="main-nav__item"><a href="index.html" class="main-nav__link active">Home page</a></li>
          <li class="main-nav__item"><a href="about.html" class="main-nav__link">about us</a></li>
          <li class="main-nav__item"><a href="contacts.html" class="main-nav__link">Contacts</a></li>
        </ul>


      <a href="/" class="logo">
        <img width="109" height="89" src="img/logo.svg" alt="logo">
      </a>

       
  
        <div class="header__btns">
          <button class="transparent-btn">book a consultation</button>
          <button class="header__btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#phone'></use>
            </svg>
          </button>
          <button class="header__btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#mail'></use>
            </svg>
          </button>
        </div>

        <button class="burger">
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="142" height="27" src="img/logo.png" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>

            	<ul class="mobile__menu-list">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="mining.html">Cloud mining</a></li>
                <li><a href="staking.html">Staking</a></li>
                <li><a href="tutorials.html">Tutorials</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="#">Docs</a></li>
              </ul>
              <div class="mobile__menu-btns">
                <a class="header__btn">
                  Log In
                </a>
                <a class="main-btn main-btn--mode">
                  Sign up
                </a>
              </div>
          </div>
        </div>
      </div>
  </div>
</header>





