<header class="header fixed-block">
  <div class="container">
      <div class="header__inner">
        <ul class="main-nav">
          <li class="main-nav__item"><a href="index.html" class="main-nav__link active">Home page</a></li>
          <li class="main-nav__item"><a href="about.html" class="main-nav__link">about us</a></li>
          <li class="main-nav__item"><a href="contacts.html" class="main-nav__link">Contacts</a></li>
        </ul>


      <a href="/" class="logo">
        <img width="109" height="89" src="img/logo.svg" alt="logo">
      </a>

       
  
        <div class="header__btns">
          <button class="transparent-btn">book a consultation</button>
          <button class="header__btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#phone'></use>
            </svg>
          </button>
          <button class="header__btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#mail'></use>
            </svg>
          </button>
        </div>

        <button class="burger">
          <span class="burger__bg"></span>
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="62" height="50" src="img/logo.svg" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__bg"></span>
                <span class="burger__line"></span>
              </div>
            </div>

            	<ul class="mobile__menu-list">
                <li><a href="index.html" class="active">Home page</a></li>
                <li><a href="about.html">about us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
                <div class="mobile__menu-btns">
              
            <button class="header__btn">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#phone'></use>
              </svg>
            </button>
            <button class="header__btn">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#mail'></use>
              </svg>
            </button>
                </div>
              <button class="transparent-btn">book a consultation</button>

              <ul class="social">
                <li class="social__item">
                  <a href="#" class="social__link">
                    <svg width='27' height='27'>
                      <use href='img/sprite/sprite.svg#Instagram'></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <svg width='27' height='27'>
                      <use href='img/sprite/sprite.svg#Facebook'></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <svg width='27' height='27'>
                      <use href='img/sprite/sprite.svg#Twitter'></use>
                    </svg>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
  </div>
</header>





