<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Welux Developers">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welux Developers</title>

  <link rel="preload" href="fonts/HelveticaNeueCyr-Thin.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/HelveticaNeueCyr-Light.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/HelveticaNeueCyr-Roman.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/HelveticaNeueCyr-Medium.woff" as="font" crossorigin="anonymous"> 
  <link rel="preload" href="fonts/HelveticaNeue-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/HelveticaNeue-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Marcellus-Regular.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
