<header class="header dash fixed-block">
  <div class="container container--dash">
      <div class="header__inner">
      <a href="/" class="logo">
        <img width="142" height="27" src="img/logo.png" alt="logo">
      </a>

      <form class="search">
        <div class="search__label">
          <input class="search__input" type="text" name="search_main" id="search_main" placeholder="Search">
          <span class="search__border"></span>
          <button class="search__btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#search'></use>
            </svg>
          </button>
        </div>
      </form>

      <div class="header__user">
        <img width="35" height="35" src="./img/dash/user.png" alt="image" class="header__user-image">
        <span class="header__name">vladnovsky123</span>
      </div>

        <button class="burger">
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="142" height="27" src="img/logo.png" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>
            	<ul class="mobile__menu-list">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="mining.html">Cloud mining</a></li>
                <li><a href="staking.html">Staking</a></li>
                <li><a href="#">Docs</a></li>
              </ul>
              <div class="mobile__menu-btns">
                <a class="header__btn">
                  Log In
                </a>
                <a class="main-btn main-btn--mode">
                  Sign up
                </a>
              </div>
          </div>
        </div>
      </div>
  </div>
</header>





