<div class="overlay fixed-block" data-overlay>
<!--     
      <div class="modal sent" data-popup="sent">
        <div class="modal__box">
          <div class="modal__inner">
            <span class="modal__icon">
              <img width="75" height="75" src="./img/sprite/sent.svg" alt="icon">
            </span>
            <span class="modal__title">Withdrawal request sent</span>
            <p>You can check the request status in the withdrawal history</p>
          </div>

          <ul class="modal__list">
            <li class="modal__item">
              <span class="modal__name">Amount</span>
              <span class="modal__value">3,700 USDT</span>
            </li>
            <li class="modal__item">
              <span class="modal__name">Withdrawal Address:</span>
              <span class="modal__value">0xaf79d897be0..</span>
            </li>
            <li class="modal__item">
              <a class="modal__link">Save address</a>
            </li>
          </ul>
          <button class="main-btn main-btn--mode">View history of withdrawals</button>
        </div>
      </div>

      <div class="modal blocked" data-popup="blocked">
        <div class="modal__box">
          <div class="modal__inner">
            <span class="modal__icon">
              <img width="75" height="75" src="./img/sprite/warn.svg" alt="icon">
            </span>
            <span class="modal__title">Withdrawal of funds blocked</span>
            <p>Your withdrawal has been blocked because you are in arrears. If you have insufficient funds in your account, please replenish your account to proceed</p>
          </div>
          
          <button class="blue-btn">Back to main page</button>
        </div>
      </div>

      <div class="modal process" data-popup="process">
        <div class="modal__box">
          <div class="modal__inner">
            <div class="modal__icon process-icon">
              <span class="process-icon__line" id="rotate1"></span>
              <span class="process-icon__line" id="rotate2"></span>
              <span class="process-icon__line" id="rotate3"></span>
              <span class="process-icon__line" id="rotate4"></span>
              <span class="process-icon__line" id="rotate5"></span>
              <span class="process-icon__line" id="rotate6"></span>
              <span class="process-icon__line" id="rotate7"></span>
              <span class="process-icon__line" id="rotate8"></span>
              <span class="process-icon__line" id="rotate9"></span>
              <span class="process-icon__line" id="rotate10"></span>
              <span class="process-icon__line" id="rotate11"></span>
              <span class="process-icon__line" id="rotate12"></span>
              <span class="process-icon__line" id="rotate13"></span>
              <span class="process-icon__line" id="rotate14"></span>
              <span class="process-icon__line" id="rotate15"></span>
              <span class="process-icon__line" id="rotate16"></span>
            </div>
            <span class="modal__title"><b class="gradient-text">Processing</b> a request</span>
            <p>Wait, your request is being processed.</p>
          </div>
          
          <div class="modal__funds">
            <span class="modal__name">Funds in process:</span>
            <span class="modal__value">27 193 USDT</span>
          </div>
        </div>
      </div>

      <div class="modal funds" data-popup="funds">
        <button class="close">
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
        <div class="modal__box">
          <span class="modal__title">Withdraw of funds</span>
          <form class="main-form">
              <div class="main-form__field">
                <span class="main-form__name">Wallet address</span>
                <div class="select" data-select>
                  <div class="select__header">
                    <input type="hidden" class="select__input input-select" name="wallet_address" value="1">
                    <span class="select__current" data-id="1">
                      <img width="24" height="24" src="./img/index/matic.png" alt="image">
                      0xaf79d665be00xaf79d897b
                      </span>
                    <svg class="select__current-icon" width='10' height='5'>
                      <use href='img/sprite/sprite.svg#arrow-d'></use>
                    </svg>
                  </div>
                  <div class="select__body">
                    <ul class="select__list">
                      <li class="select__option" data-id="1" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d665be00xaf79d897b
                      </li>
                      <li class="select__option" data-id="2" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d545be00xaf79d121b
                      </li>
                      <li class="select__option" data-id="3" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d444be00xaf79d133b
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="main-form__field">
                <span class="main-form__name">Enter the amount:</span>
                <label for="amount" class="main-form__label">
                  <span class="main-form__coin">USDT</span>
                  <input type="number" name="amount" id="amount" placeholder="27,193.00" class="main-form__input">
                </label>
              </div>
              <button class="main-btn main-btn--mode">Confirm Withdraw
                <svg width='19' height='14'>
                  <use href='img/sprite/sprite.svg#arrow-r'></use>
                </svg>
              </button>
          </form>
        </div>
      </div>

      <div class="modal deposit" data-popup="deposit">
        <button class="close">
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
        <div class="modal__box">
          <span class="modal__title">Deposits of funds</span>
          <form class="main-form">
              <div class="main-form__field">
                <span class="main-form__name">Wallet address</span>
                <div class="select" data-select>
                  <div class="select__header">
                    <input type="hidden" class="select__input input-select" name="wallet_address_2" value="1">
                    <span class="select__current" data-id="1">
                      <img width="24" height="24" src="./img/index/matic.png" alt="image">
                      0xaf79d665be00xaf79d897b
                      </span>
                    <svg class="select__current-icon" width='10' height='5'>
                      <use href='img/sprite/sprite.svg#arrow-d'></use>
                    </svg>
                  </div>
                  <div class="select__body">
                    <ul class="select__list">
                      <li class="select__option" data-id="1" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d665be00xaf79d897b
                      </li>
                      <li class="select__option" data-id="2" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d545be00xaf79d121b
                      </li>
                      <li class="select__option" data-id="3" data-type="option">
                        <img width="24" height="24" src="./img/index/matic.png" alt="image">
                        0xaf79d444be00xaf79d133b
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="main-form__field">
                <span class="main-form__name">Enter the amount:</span>
                <label for="amount_2" class="main-form__label">
                  <span class="main-form__coin">USDT</span>
                  <input type="number" name="amount_2" id="amount_2" placeholder="27,193.00" class="main-form__input">
                </label>
              </div>
              <button class="main-btn main-btn--mode">Deposit
                <svg width='19' height='14'>
                  <use href='img/sprite/sprite.svg#arrow-r'></use>
                </svg>
              </button>
          </form>
          <a href="#" class="modal__deskr">All deposits are stored in the <b>Payment History</b></a>
        </div>
      </div>

      <div class="modal login" data-popup="login">
        <div class="modal__box">
          <div class="modal__left">
            <span class="logo">
              <img width="169" height="41" src="img/logo.png" alt="logo">
            </span>
            <span class="modal__title">Sign UP Bonus<br>
              <b class="blue-text">75 GH/s</b></span>

              <div class="modal__image">
                <picture>
                  <source type='image/webp' media='(max-width: 767px)' srcset='img/index/img4Mob.webp'>
                  <source media='(max-width: 767px)' srcset='img/index/img4Mob.png'>
                  <source type='image/webp' srcset='img/index/img4.webp'>
                  <img width='542' height='542' src='img/index/img4.png' alt='image'>
                </picture>
              </div>
          </div>

          <div class="modal__tab" data-tabs-parrent>
            <ul class="dashboard-nav">
              <li class="dashboard-nav__item">
               <button class="dashboard-nav__btn active" type="button" data-tab="1">Log In</button>
              </li>
              <li class="dashboard-nav__item">
                <button class="dashboard-nav__btn" type="button" data-tab="2">Sign Up</button>
               </li>
            </ul>
            <ul class="tabs-content">
              <li class="tabs-content__item active" data-tab-content="1">
                <form class="main-form main-form--mode">
                  <div class="main-form__field">
                    <span class="main-form__name">Login:</span>
                    <label for="login" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#user'></use>
                        </svg>
                      </span>
                      <input type="text" name="login" id="login" placeholder="Enter your login" class="main-form__input">
                    </label>
                  </div>
    
                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_1" id="pass_1" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <a href="#" class="main-form__link">Forgot password?</a>
                  <button class="main-btn main-btn--mode">Log In
                  </button>
              </form>
              </li>

              <li class="tabs-content__item" data-tab-content="2">
                <form class="main-form main-form--mode">
                  <div class="main-form__field">
                    <span class="main-form__name">Login:</span>
                    <label for="login_2" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#user'></use>
                        </svg>
                      </span>
                      <input type="text" name="login_2" id="login_2" placeholder="Enter your login" class="main-form__input">
                    </label>
                  </div>

                  <div class="main-form__field">
                    <span class="main-form__name">Email:</span>
                    <label for="email" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#mail'></use>
                        </svg>
                      </span>
                      <input type="text" name="email" id="email" placeholder="Enter your email" class="main-form__input">
                    </label>
                  </div>
    
                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_2" id="pass_2" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_3" id="pass_3" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="main-form__rules">
                      <label class="custom-checkbox">
                        <input checked type="checkbox" class="custom-checkbox__field">
                        <span class="custom-checkbox__content"></span>
                      </label>
                      <p>I have read <a class="main-form__rules-link">Terms of Use</a></p>
                  </div>
                 
                  <button class="main-btn main-btn--mode">Create account
                  </button>
              </form>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
</div>








