/* stylelint-disable */

@mixin burger {
  --burger-width: 11px;
  --burger-height: 10px;
  --burger-line-height: 1px;
  --border-radius: 0;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 8px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--burger-line-height);
    background-color: rgba(var(--cl-a),1.0);
    transform-origin: left top;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity .5s;
    border-radius: var(--border-radius);
  }

  &::before {
    
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    left: 100%;
    transform: translateX(-100%);
    width: 55%;
    bottom: 0;
  }

  &__bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: solid 1px var(--br-a);
    transition: all 0.3s ease-in-out;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: rgba(var(--cl-a),1.0);
    transform: translate(-50%,-50%);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity .5s;
    border-radius: var(--border-radius);
  }

  &:hover{
    &::before,
    &::after{
      background-color: rgba(var(--cl-c),1.0);
    }
    .burger{
      &__bg{
      border-color: var(--br-c);
    }
    &__line{
      background-color: rgba(var(--cl-c),1.0);
    }
    }
  }

  &.active {
    &::before {
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      left: 50%;
      width: 100%;
      top: 50%;
      transform: rotate(-45deg) translate(-50%, -50%);
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
  }
}
