.about-section {
  padding:clamp(80px, 9.7519vw, 114px) 0 clamp(65px, 6.0736vw, 71px);
  z-index: 1;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include mobile{
    padding-bottom: 87px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    @include for-mobile{
      grid-gap: 40px;
    }

    @include mobile{
      grid-gap: 61px;
    }
  }

  .cube{
    @include for-laptop{
      right: calc((var(--container-width) / 4) * -1);
    }

    @include laptop{
      @include for-tablet{
      right: calc((100vw / 4) * -1);
      }
    }

    @include tablet{
      @include for-mobile{
      right: calc((100vw / 2) * -1);
      transform: translateX(-99%);
     }
    }

    @include mobile{
      left: 41%;
    }
  }
}
