.team-section{
    padding-bottom: 113px;

    &__box{
        display: flex;
        flex-direction: column;

        @include for-mobile{
            grid-gap: 27px;
        }

        @include mobile{
            grid-gap: 38px;
        }
    }
}