.bg-slider{
    position: relative;

    &__wrapper{
        pointer-events: none;
        opacity: .2;
    }

    &__slide{
        img,picture{
            width: 100%;
            height: 100%;
            object-position: bottom center;
        }
    }
}