.main-nav {
  display: flex;
  align-items: center;
  grid-gap: 24px clamp(24px, 5.4748vw, 64px);
  position: relative;
  width: fit-content;
  

  &__item{
    display: flex;
  }

  &__link {
    color: rgba(var(--cl-a),1.0);
    transition: all 0.4s;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;

    &.active {
      color: rgba(var(--cl-c),1.0);
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    &:hover {
      opacity: 0.2;
    }

    &:disabled{
      opacity: .2;
    }
  }
}
