.sub-slider{
    position: relative;
    width: 577px;

    &::before{
        left: -20px;
        content: '';
        position: absolute;
        height: 106px;
        width: 1px;
        background-color: rgba(var(--bg-a),1.0);
        pointer-events: none;
        bottom: 0;
    }

    &__slide{
        cursor: pointer;
        height: 106px;

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__pagination{
        display: flex;
        align-items: center;
        grid-gap: 7px;
        position: absolute;
        top: -18px;
        left: 0;
        z-index: 5;
        transform: translateY(-100%);
    }

    .swiper-counter{
        position: absolute;
        right: 0;
        top: -32px;
        transform: translateY(-100%);
        z-index: 5;
    }

    .custom-pagination{
        position: absolute;
        top: -19px;
        left: 0;
        z-index: 10;
        transform: translateY(-100%);
    }
}