.sub-slider{
    position: relative;
    width: 595px;

    &::before{
        left: -20px;
        content: '';
        position: absolute;
        height: 106px;
        width: 1px;
        background-color: rgba(var(--bg-a),1.0);
        pointer-events: none;
        bottom: 0;
    }


    &__slide{
        cursor: pointer;
        width: 178px;
        height: 106px;

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__pagination{
        display: flex;
        align-items: center;
        grid-gap: 7px;
        position: absolute;
        top: -18px;
        left: 0;
        z-index: 5;
        transform: translateY(-100%);
    }

    &__bar{
        position: absolute;
        top: -50px;
        left: 0;
        height: 1px;
        background-color: rgba(var(--bg-a),.3);
        width: 242px;
        display: flex;
        align-items: flex-end;

        .swiper-scrollbar{
            &-drag{
                background-color: rgba(var(--bg-a),1.0);
                height: 2px;
            }
        }

        &::before, &::after{
            position: absolute;
            top: 50%;
            pointer-events: none;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
        }

        &:before {
            left: -17px;
            transform: translate(-50%, -50%);
            content: attr(data-current-slide);
        }

        &::after{
            right: -17px;
            transform: translate(50%, -50%);
            content: attr(data-total-slides);
        }
    }

    .swiper-counter{
        display: inline-flex;
        grid-gap: 5px;
        align-items: flex-start;
        font-family: var(--second-family);
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: -32px;
        transform: translateY(-100%);
        z-index: 5;
        .count{
            line-height: 80%;
            font-weight: 700;
            font-size: 55px;
        }

        .total{
            font-size: 21px;
        }
    }

    .swiper-pagination-bullet{
        background-color: rgba(var(--bg-a),.17);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        border: solid 1px transparent;

        &-active{
            background-color: transparent;
            border-color: var(--br-a);
        }
    }
}