.main-btn {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 23px 77px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: rgba(var(--bg-d),1.0);

  &:hover{
    background-color: rgba(var(--bg-e),1.0);
  }

  &:disabled{
    opacity: .4;
  }
}

.transparent-btn{
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid var(--br-a);
  padding: 13px 23px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .4s;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    transition: all .4s;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(var(--bg-a),1.0);
    z-index: -1;
    transform: translateY(125%);
    pointer-events: none;
  }

  &:hover{
    color: rgba(var(--cl-d),1.0);

    &::before{
      transform: translateY(0);
    }
  }

  &:disabled{
    opacity: .4;
  }
}