// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  // --------------- default global variables ---------------
  --error-bg: #d01f1f;
  --body-bg: #040416;
  --body-font-size: 16px;
  --content-width: 1169px;
  --container-offset: clamp(15px, 2.053vw, 24px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default JS variables ---------------
  --header-height: 234px;

   @include tablet{
    --header-height: 196px;
  }

  @include small-tablet{
    --header-height: 176px;
  }

  @include mobile{
    --header-height: 168px;
  }

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #252560;
  --scrollbar-track: #0c0c20;
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default select variables ---------------
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;

  // --------------- default font-family variables ---------------

  --font-family: "HelveticaNeueCyr", sans-serif; // var(--font-family);
  --second-family: "HelveticaNeue", sans-serif; // var(--second-family);
  --third-family: "Marcellus", sans-serif; // var(--third-family);
 

  // --------------- default text color variables ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#C1A17B)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#040416)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#8B8BA6)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#13132f)}; // rgba(var(--cl-f),1.0);

  // --------------- default background color variables ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#0c0c20)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#C1A17B)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#9f805c)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#080813)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#040416)}; // rgba(var(--bg-g),1.0);

  // --------------- default border color variable ---------------
  --br-a: #ffffff; // var(--br-a);
  --br-b: #252560; // var(--br-b);
  --br-c: #C1A17B; // var(--br-c);
}       


